.calculator {
  display: block;
  margin: 0 auto;
  padding: 20px;
  background-color: lightsteelblue;
  width: 300px;
  height: 500px;
  border-radius: 25px;
}

.buttons {
  width: 55px;
  height: 55px;
  font-size: 30px;
  margin-top: 10px;
  margin-left: 5px;
}

.buttons2 {
  width: 55px;
  height: 55px;
  background-color: rgb(213, 214, 214);
  font-size: 30px;
  margin-top: 10px;
  margin-left: 5px;
}

#result {
  display: block;
  text-align: center;
  font-size: 45px;
  margin-bottom: 20px;
  width: 250px;
  height: 80px;
  line-height: 100px;
  background-color: white;
  overflow-y: scroll;
}
